/*Checkmark*/
/*-------------------------------------------*/
/* Customize the label (the container) */
body{
font: bold 11pt arial;
}

#create{
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 45px;
}

.cb{
  position: absolute;
  float: right;
  margin-left: 220px;

}

.settings-form{
  margin-left: 90px;
  height: 20px;
}

#square-size-cb{
  height: 25px;
  width: 200px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
}

input[type="button"]
{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

/*
.settings-form{
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;

  vertical-align: top;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: 1px;
  /*line-height: 34px;*/
  /*
  font-family: arial, sans-serif;
  font-size: 13pt;
  padding-left: 5px;
}*/

input[type="number"]
{
  background: #c6c6c6;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  opacity: .7;
  padding-left: 5px;
  font-family: arial, sans-serif;
  font-size: 13pt;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 3px 0;
  border-radius: 2px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="checkbox"]
{
  width: 40px;
  height: 20px;
  background: #c6c6c6;
  outline: none;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.2);
  transition: .5s;
  -webkit-appearance: none;
}

input:checked[type="checkbox"]
{
  background: #e88baa;
}

.cb + label{
  margin-left: 30px;
  line-height: 30px;
  vertical-align: middle;
}

input[type="checkbox"]:before
{
  content: '';
  position:absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  left: 5px;
  background: #eee;
  transform: scale(1.1);
  transition: .5s;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

input:checked[type="checkbox"]:before
{
  left: 22px;
}

#intensity{
  margin-left: 30px;
  margin-top: 10px;
}



/*------------------------------------------*/

#grid{
  margin-left: 300px; /*width of the sidebar*/
  height: 100%;
  width: calc(100% - 290px);
}
.cell{
  float: left;
  border-style: solid;
  border-width: 0px;
}

#sidebar{
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3c3c3c;
  padding-top: 20px;
  color: #999999;
}

#pen-color{
  border-style: none;
  padding: 0px;
  opacity: 0;
  z-index: 3;
  position: absolute;
  border-radius: 100px;
}

#pen-color-wrapper{
  height: 150px;
  width: 150px;
  z-index: 2;
  position:absolute;
  top: 250px;
  left: 75px;
  border-radius: 100px;
  text-align: center;
  font: bold 13pt arial;
  -webkit-transition: transform .5s;
}

#pen-color:hover + #pen-color-wrapper{

  transform: scale(1.1);
}

#pen-color-wrapper span {
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#color-txt{
  font: bold 9pt arial;
}

#hex-txt{
  font: bold 13pt arial;
}

.create-grid-button{
  border: 1px solid #4285f4;
  height: 30px;
  padding: 0 12px;
  background: #4285f4;
  border-radius: 2px;
  text-decoration: none;
  color: #3c3c3c;
  display: inline-block;
	font-weight: bold;
	line-height: 28px;
  float: right;
  font-family: arial,sans-serif;
  font-size: 11pt;
}
